/* You can add global styles to this file, and also import other style files */

@import './styles/reset.scss';
@import './styles/colors.scss';
@import './styles/typography.scss';

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: $color-secondary;
}

a:hover {
  color: darken($color: $color-secondary, $amount: 50);
  transition: all ease-in-out 20ms;
}

a:active {
  color: lighten($color: $color-primary, $amount: 10);
}

ul {
  list-style: none;
}
