html {
  font-size: 16px;
}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Righteous', sans-serif;
  font-weight: normal;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 2.074em;
  letter-spacing: 0.15em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.833em;
}

a,
li {
  font-family: 'Righteous', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.1em;
}

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: justify;
  letter-spacing: 0.1em;
}
