@import '../../../styles.scss';

$side-offset: 5em;
$top-offset: 5em;

#navbar {
  position: absolute;
  top: $top-offset;
  left: $side-offset;
  z-index: 1;

  .nav-header a {
    &:link,
    &:visited {
      color: $color-primary;
    }

    &:hover {
      color: lighten($color: $color-secondary, $amount: 10);
    }

    &:active {
      color: darken($color: $color-primary, $amount: 10);
    }

    font-size: 2.5em;
  }

  .navbar-links {
    margin-top: 2em;

    ul li {
      margin: 1em 0;

      a {
        font-size: 18px;
      }
    }
  }
}

header {
  position: absolute;
  left: $side-offset;
  bottom: $top-offset;

  h1.title {
    position: relative;
  }

  h2.sub {
    position: relative;
    margin-top: 0;
    color: $color-secondary;
    font-size: 1.5rem;
  }
}

section.continue-link {
  position: absolute;
  right: $side-offset;
  bottom: $top-offset;
  z-index: 1;

  a {
    font-size: 24px;
    text-align: right;
  }
}

section.body {
  .body-image {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url('../../../assets/hermansen_bg.png') center center no-repeat;
  }
}
