<nav id="navbar">
  <div class="nav-header">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">KJUULH</a>
  </div>
  <div class="navbar-links">
    <ul>
      <li>
        <a [routerLink]="['/skills']" routerLinkActive="router-link-active"
          >SKILLS</a
        >
      </li>
      <li>
        <a [routerLink]="['/project']" routerLinkActive="router-link-active"
          >PROJECT</a
        >
      </li>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="router-link-active"
          >ABOUT</a
        >
      </li>
    </ul>
  </div>
</nav>

<header>
  <h1 class="title">KASPER JUUL HERMANSEN</h1>
  <h2 class="sub">It's all about the fundamentals</h2>
</header>

<section class="continue-link">
  <a [routerLink]="['/skills']" routerLinkActive="router-link-active"
    >VIEW SKILLS</a
  >
</section>

<section class="body">
  <div class="body-image"></div>
</section>
